/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background: url('MEDICINE.JPG') no-repeat center center fixed;
    animation: fadeIn 1s ease-in-out;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

/* Sign-Up Page Styles */
.sign-up-container {
    background: rgba(255, 255, 255, 0.9); /* Slight transparency */
    padding: 20px; /* Reduced padding */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Full width of the container */
    max-width: 250px; /* Set max-width to a smaller size */
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sign-up-container h2 {
    margin-bottom: 5px; /* Reduced margin */
    font-size: 1.5em; /* Slightly smaller font size */
    color: #0fa061;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.input-group {
    margin-bottom: 7px; /* Reduced margin */
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #17946c;
}

.input-group input {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 0.9em; /* Smaller font size */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #1fab0f;
    box-shadow: 0 0 8px rgba(0, 121, 107, 0.3);
    outline: none;
}

.sign-up-button {
    background: linear-gradient(100deg, #28b013, #167010);
    color: white;
    padding: 10px; /* Reduced padding */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 1em; /* Slightly smaller font size */
    font-weight: bold;
    margin-top: 20px;
    transition: background 0.3s, transform 0.3s;
}

.sign-up-button:hover {
    background: linear-gradient(135deg, #57cb18, #57cb18);
    transform: translateY(-2px);
}

.sign-up-container p {
    margin-top: 15px; /* Reduced margin */
    font-size: 0.9em; /* Smaller font size */
    color: #333;
}

.sign-up-container p a {
    color: #1e7715;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.sign-up-container p a:hover {
    color: #004d40;
    text-decoration: underline;
}
